#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "element-call"
name = "Element-Call"
description.en = "Group calls powered by Matrix"
description.fr = "Appels de groupe alimentés par Matrix"

version = "0.17.0~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
website = "https://call.element.io/"
demo = "https://call.element.io/"
code = "https://github.com/element-hq/element-call"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.default_home_server]
    ask.en = "Choose a default Matrix server"
    ask.fr = "Choisissez un serveur Matrix par défault"
    type = "string"
    example = "my-own-homeserver.tld"
    default = "matrix.org"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/element-hq/element-call/releases/download/v0.17.0/element-call-0.17.0.tar.gz"
    sha256 = "bc2cb09c4a30c575746a94b4021afdc26d7a6f0930f781afbbf333c519cc426a"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "element-call-\\d+(\\.\\d+){2}\\.tar\\.gz"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
